.afrika-section{
    background-color: #F4F4F4;
    .afrika-title-box{
        padding: 4rem 0 2rem 0;
        .afrika-title{
            text-align: center;
            color: var(--color-black);
            font-size: 36px;
            letter-spacing: -0.36px;
            opacity: 1;
        }
    }
    .card-tourisim{
       .card-container{
        background-color: var(--color-white);
       }
    }
}